@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins',sans-serif;
}
:root {
    --bg-color:#1f242d;
    --second-bg-color:#323946;
    --text-color:#fff;
    --main-color:#0ef;

}
html {
    font-size: 62.5%;
    overflow-x: hidden;
}
body {
    background: var(--bg-color);
    color: var(--text-color);
}
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;

}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background:var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: conter;
    z-index: 100;
}
.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}
.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}
.navbar a:hover,.navbar a.active {
    color:var(--main-color);
}
#menu-icon {
    font-size: 3.6rem;
    color:var(--text-color);
    display: none;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content h3 {
    font-size: 3.2rem;
    font-weight: 100;
}
.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}
.home-content {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
span {
    color: var(--main-color);
}

.home-img img {
    width:25vw
}
.home-content p {
    font-size: 2rem;
}
.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    background: transparent;
    border-radius: 30% ;
    font-size: 5rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0rem;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem --main-color;
}
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 3rem;
    box-shadow: 0 0 1rem var(--main-color );
    letter-spacing: .2rem;
    color: var(--second-bg-color);
    font-weight: 400;
}
.btn:hover {
    box-shadow: none;
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: var(--second-bg-color);
}
.about-img img {
    width:25vw;
    border-radius: 20% ;
}
.heading {
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2 {
    text-align: left;
    line-height: 1.2;
}
.about .about-content a {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 2rem;
    box-shadow: 0 0 1rem var(--main-color );
    letter-spacing: .2rem;
    color: var(--second-bg-color);
    margin-top: 2rem;
    margin-left: 2rem;
    font-weight: 300;
}
.about .about-content a:hover {
    box-shadow: none;
}
.about-content h3 {
    font-size: 2rem;
}
.about-content p{
    font-size: 1.4rem;
    margin: 2rem 0 3rem ;
}
.projets h2 {
    margin-bottom: 4rem;
}
.projet-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}
.projet-container .projet-box {
    position:relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--main-color);
    overflow: hidden;
    display: flex;
}
.projet-container .projet-box:hover {
    box-shadow: none;
}

.projet-box img {
    width:100%;
    transition: .5s ease;
}

.projet-box .projet-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(117, 90, 90, 0.1),var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 4rem;
    transform: translateY(100%);
}
.projet-box:hover .projet-layer {
    transform: translateY(0);
}
.projet-layer h4 { 
    font-size: 3rem;
}

.projet-layer p {
    text-align: center;
    font-size: 1.2rem;
    margin: .3rem 0 1rem;
}

.projet-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height:5rem ;
    background: var(--text-color);
    border-radius: 50%;
}

.projet-layer a i {
    font-size: 3rem;
    color: var(--main-color);
}

/* Style pour la section de contact */
